## **Web Scraping with Request and BeautifulSoup**

Before we start performing web scraping on any website, it is important to note that a lot of websites do not allow webscraping on their website, and many companies takes it as illegal and sue businesses and individuals for that, so be careful to check their Privacy policies before scraping any website.

Now, if you know the website you want to extract information from, what you need to do is to first examine the website to understand the structure and layout of the website.

In [ ]:
# !pip install requests

In [ ]:
# !pip install bs4

In [2]:
import pandas as pd
import requests 
import bs4

In [ ]:
data = requests.get('https://en.wikipedia.org/wiki/Artificial_intelligence')

In [ ]:
# Page source code

data.text

In [ ]:
# To parse the data

parsed = bs4.BeautifulSoup(data.text, 'lxml')

In [ ]:
parsed

In [ ]:
# To select the HTML tags of the page - e.g.: 'h2'

titles = parsed.select('h2')

In [ ]:
titles[0].getText()

In [ ]:
# To obtain the titles for each 'h2'

for i in titles:
    print(i.text)

In [ ]:
# To obtain the images of the page

images = parsed.select('img')

## **Web Scraping at Books to scrape**

Source: http://books.toscrape.com/index.html

In [28]:
# Creating an empty list for each item we want

pages = []
prices = []
ratings = []
title = []
urls = []

In [29]:
# Set the number of pages we gonna scrap

n_pages = 1

In [30]:
# Looping through the pages

for i in range(1, n_pages + 1):
    url = ('http://books.toscrape.com/catalogue/page-{}.html'.format(i))
    pages.append(url)

print('Number of pages:', len(pages))
print(pages)

Number of pages: 1
['http://books.toscrape.com/catalogue/page-1.html']

Getting the data from the particular page url and converting from object of type **request** to object of type **beautiful soup**, making it more readable

In [31]:
for item in pages:
    page = requests.get(item)
    soup = bs4.BeautifulSoup(page.text, 'html.parser')

In [32]:
# print(soup)

In [33]:
# In an actual html tag, it includes indentations and nested tags that helps you to identify the actual relationship between tags and so forth.
# In order to get that identation and relationship here, we have to use what is called 'prettify()'.
# 'prettify()' is a built-in function provided by the Beautiful Soup module which gives the visual representation of the parsed URL Source code.
# i.e. it arranges all the tags in a parse-tree manner with better readability.

# print(soup.prettify())

## Scraping all the titles

In [34]:
# If we inspect the page we can see that the titles are located inside the h3 tag

for i in soup.findAll('h3'):
    print(i)

<h3><a href="a-light-in-the-attic_1000/index.html" title="A Light in the Attic">A Light in the ...</a></h3>
<h3><a href="tipping-the-velvet_999/index.html" title="Tipping the Velvet">Tipping the Velvet</a></h3>
<h3><a href="soumission_998/index.html" title="Soumission">Soumission</a></h3>
<h3><a href="sharp-objects_997/index.html" title="Sharp Objects">Sharp Objects</a></h3>
<h3><a href="sapiens-a-brief-history-of-humankind_996/index.html" title="Sapiens: A Brief History of Humankind">Sapiens: A Brief History ...</a></h3>
<h3><a href="the-requiem-red_995/index.html" title="The Requiem Red">The Requiem Red</a></h3>
<h3><a href="the-dirty-little-secrets-of-getting-your-dream-job_994/index.html" title="The Dirty Little Secrets of Getting Your Dream Job">The Dirty Little Secrets ...</a></h3>
<h3><a href="the-coming-woman-a-novel-based-on-the-life-of-the-infamous-feminist-victoria-woodhull_993/index.html" title="The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull">The Coming Woman: A ...</a></h3>
<h3><a href="the-boys-in-the-boat-nine-americans-and-their-epic-quest-for-gold-at-the-1936-berlin-olympics_992/index.html" title="The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics">The Boys in the ...</a></h3>
<h3><a href="the-black-maria_991/index.html" title="The Black Maria">The Black Maria</a></h3>
<h3><a href="starving-hearts-triangular-trade-trilogy-1_990/index.html" title="Starving Hearts (Triangular Trade Trilogy, #1)">Starving Hearts (Triangular Trade ...</a></h3>
<h3><a href="shakespeares-sonnets_989/index.html" title="Shakespeare's Sonnets">Shakespeare's Sonnets</a></h3>
<h3><a href="set-me-free_988/index.html" title="Set Me Free">Set Me Free</a></h3>
<h3><a href="scott-pilgrims-precious-little-life-scott-pilgrim-1_987/index.html" title="Scott Pilgrim's Precious Little Life (Scott Pilgrim #1)">Scott Pilgrim's Precious Little ...</a></h3>
<h3><a href="rip-it-up-and-start-again_986/index.html" title="Rip it Up and Start Again">Rip it Up and ...</a></h3>
<h3><a href="our-band-could-be-your-life-scenes-from-the-american-indie-underground-1981-1991_985/index.html" title="Our Band Could Be Your Life: Scenes from the American Indie Underground, 1981-1991">Our Band Could Be ...</a></h3>
<h3><a href="olio_984/index.html" title="Olio">Olio</a></h3>
<h3><a href="mesaerion-the-best-science-fiction-stories-1800-1849_983/index.html" title="Mesaerion: The Best Science Fiction Stories 1800-1849">Mesaerion: The Best Science ...</a></h3>
<h3><a href="libertarianism-for-beginners_982/index.html" title="Libertarianism for Beginners">Libertarianism for Beginners</a></h3>
<h3><a href="its-only-the-himalayas_981/index.html" title="It's Only the Himalayas">It's Only the Himalayas</a></h3>

In [35]:
# Adding to the title empty list

for i in soup.findAll('h3'):
    titles_h3 = i.getText()
    title.append(titles_h3)

print(title)

['A Light in the ...', 'Tipping the Velvet', 'Soumission', 'Sharp Objects', 'Sapiens: A Brief History ...', 'The Requiem Red', 'The Dirty Little Secrets ...', 'The Coming Woman: A ...', 'The Boys in the ...', 'The Black Maria', 'Starving Hearts (Triangular Trade ...', "Shakespeare's Sonnets", 'Set Me Free', "Scott Pilgrim's Precious Little ...", 'Rip it Up and ...', 'Our Band Could Be ...', 'Olio', 'Mesaerion: The Best Science ...', 'Libertarianism for Beginners', "It's Only the Himalayas"]

## Scraping all the prices

In [36]:
# add underscore to class (class_) in order to differentiate it from python inbuilt class

for i in soup.findAll('p', class_='price_color'):
    prices_p = i.getText()
    prices.append(prices_p)

print(prices)

['Â£51.77', 'Â£53.74', 'Â£50.10', 'Â£47.82', 'Â£54.23', 'Â£22.65', 'Â£33.34', 'Â£17.93', 'Â£22.60', 'Â£52.15', 'Â£13.99', 'Â£20.66', 'Â£17.46', 'Â£52.29', 'Â£35.02', 'Â£57.25', 'Â£23.88', 'Â£37.59', 'Â£51.33', 'Â£45.17']

## Scraping all the ratings

In [37]:
# k will contain the class(we can print(k) to see what is inside,
# v is going to contain a list like ['star-rating', 'Two'], we use v[1] to get the second item which is the actual ratings)

for i in soup.findAll('p', class_='star-rating'):
    for k, v in i.attrs.items():
        rating_star = v[1]
        ratings.append(rating_star)

print(ratings)

['Three', 'One', 'One', 'Four', 'Five', 'One', 'Four', 'Three', 'Four', 'One', 'Two', 'Four', 'Five', 'Five', 'Five', 'Three', 'One', 'One', 'Two', 'Two']

## Scraping all the images

In [44]:
divs = soup.findAll('div', class_='image_container')

for i in divs:
    tags = i.find('img', class_='thumbnail')
    links = 'http://books.toscrape.com/' + str(tags['src'])
    right_links = links.replace('../', '')
    urls.append(right_links)

print(urls)

['http://books.toscrape.com/media/cache/2c/da/2cdad67c44b002e7ead0cc35693c0e8b.jpg', 'http://books.toscrape.com/media/cache/26/0c/260c6ae16bce31c8f8c95daddd9f4a1c.jpg', 'http://books.toscrape.com/media/cache/3e/ef/3eef99c9d9adef34639f510662022830.jpg', 'http://books.toscrape.com/media/cache/32/51/3251cf3a3412f53f339e42cac2134093.jpg', 'http://books.toscrape.com/media/cache/be/a5/bea5697f2534a2f86a3ef27b5a8c12a6.jpg', 'http://books.toscrape.com/media/cache/68/33/68339b4c9bc034267e1da611ab3b34f8.jpg', 'http://books.toscrape.com/media/cache/92/27/92274a95b7c251fea59a2b8a78275ab4.jpg', 'http://books.toscrape.com/media/cache/3d/54/3d54940e57e662c4dd1f3ff00c78cc64.jpg', 'http://books.toscrape.com/media/cache/66/88/66883b91f6804b2323c8369331cb7dd1.jpg', 'http://books.toscrape.com/media/cache/58/46/5846057e28022268153beff6d352b06c.jpg', 'http://books.toscrape.com/media/cache/be/f4/bef44da28c98f905a3ebec0b87be8530.jpg', 'http://books.toscrape.com/media/cache/10/48/1048f63d3b5061cd2f424d20b3f9b666.jpg', 'http://books.toscrape.com/media/cache/5b/88/5b88c52633f53cacf162c15f4f823153.jpg', 'http://books.toscrape.com/media/cache/94/b1/94b1b8b244bce9677c2f29ccc890d4d2.jpg', 'http://books.toscrape.com/media/cache/81/c4/81c4a973364e17d01f217e1188253d5e.jpg', 'http://books.toscrape.com/media/cache/54/60/54607fe8945897cdcced0044103b10b6.jpg', 'http://books.toscrape.com/media/cache/55/33/553310a7162dfbc2c6d19a84da0df9e1.jpg', 'http://books.toscrape.com/media/cache/09/a3/09a3aef48557576e1a85ba7efea8ecb7.jpg', 'http://books.toscrape.com/media/cache/0b/bc/0bbcd0a6f4bcd81ccb1049a52736406e.jpg', 'http://books.toscrape.com/media/cache/27/a5/27a53d0bb95bdd88288eaf66c9230d7e.jpg']

## **Data Processing on Scraped Data**

In [47]:
data = {
        'Title': title,
        'Prices': prices,
        'Ratings': ratings,
        'URLs': urls
        }

In [48]:
data

{'Title': ['A Light in the ...',
  'Tipping the Velvet',
  'Soumission',
  'Sharp Objects',
  'Sapiens: A Brief History ...',
  'The Requiem Red',
  'The Dirty Little Secrets ...',
  'The Coming Woman: A ...',
  'The Boys in the ...',
  'The Black Maria',
  'Starving Hearts (Triangular Trade ...',
  "Shakespeare's Sonnets",
  'Set Me Free',
  "Scott Pilgrim's Precious Little ...",
  'Rip it Up and ...',
  'Our Band Could Be ...',
  'Olio',
  'Mesaerion: The Best Science ...',
  'Libertarianism for Beginners',
  "It's Only the Himalayas"],
 'Prices': ['Â£51.77',
  'Â£53.74',
  'Â£50.10',
  'Â£47.82',
  'Â£54.23',
  'Â£22.65',
  'Â£33.34',
  'Â£17.93',
  'Â£22.60',
  'Â£52.15',
  'Â£13.99',
  'Â£20.66',
  'Â£17.46',
  'Â£52.29',
  'Â£35.02',
  'Â£57.25',
  'Â£23.88',
  'Â£37.59',
  'Â£51.33',
  'Â£45.17'],
 'Ratings': ['Three',
  'One',
  'One',
  'Four',
  'Five',
  'One',
  'Four',
  'Three',
  'Four',
  'One',
  'Two',
  'Four',
  'Five',
  'Five',
  'Five',
  'Three',
  'One',
  'One',
  'Two',
  'Two'],
 'URLs': ['http://books.toscrape.com/media/cache/2c/da/2cdad67c44b002e7ead0cc35693c0e8b.jpg',
  'http://books.toscrape.com/media/cache/26/0c/260c6ae16bce31c8f8c95daddd9f4a1c.jpg',
  'http://books.toscrape.com/media/cache/3e/ef/3eef99c9d9adef34639f510662022830.jpg',
  'http://books.toscrape.com/media/cache/32/51/3251cf3a3412f53f339e42cac2134093.jpg',
  'http://books.toscrape.com/media/cache/be/a5/bea5697f2534a2f86a3ef27b5a8c12a6.jpg',
  'http://books.toscrape.com/media/cache/68/33/68339b4c9bc034267e1da611ab3b34f8.jpg',
  'http://books.toscrape.com/media/cache/92/27/92274a95b7c251fea59a2b8a78275ab4.jpg',
  'http://books.toscrape.com/media/cache/3d/54/3d54940e57e662c4dd1f3ff00c78cc64.jpg',
  'http://books.toscrape.com/media/cache/66/88/66883b91f6804b2323c8369331cb7dd1.jpg',
  'http://books.toscrape.com/media/cache/58/46/5846057e28022268153beff6d352b06c.jpg',
  'http://books.toscrape.com/media/cache/be/f4/bef44da28c98f905a3ebec0b87be8530.jpg',
  'http://books.toscrape.com/media/cache/10/48/1048f63d3b5061cd2f424d20b3f9b666.jpg',
  'http://books.toscrape.com/media/cache/5b/88/5b88c52633f53cacf162c15f4f823153.jpg',
  'http://books.toscrape.com/media/cache/94/b1/94b1b8b244bce9677c2f29ccc890d4d2.jpg',
  'http://books.toscrape.com/media/cache/81/c4/81c4a973364e17d01f217e1188253d5e.jpg',
  'http://books.toscrape.com/media/cache/54/60/54607fe8945897cdcced0044103b10b6.jpg',
  'http://books.toscrape.com/media/cache/55/33/553310a7162dfbc2c6d19a84da0df9e1.jpg',
  'http://books.toscrape.com/media/cache/09/a3/09a3aef48557576e1a85ba7efea8ecb7.jpg',
  'http://books.toscrape.com/media/cache/0b/bc/0bbcd0a6f4bcd81ccb1049a52736406e.jpg',
  'http://books.toscrape.com/media/cache/27/a5/27a53d0bb95bdd88288eaf66c9230d7e.jpg']}

In [49]:
print(len(title))
print(len(prices))
print(len(ratings))
print(len(urls))

20
20
20
20

In [50]:
df = pd.DataFrame(data)
print(df.shape)
df.head()

(20, 4)

,Title,Prices,Ratings,URLs
0,A Light in the ...,Â£51.77,Three,http://books.toscrape.com/media/cache/2c/da/2c...
1,Tipping the Velvet,Â£53.74,One,http://books.toscrape.com/media/cache/26/0c/26...
2,Soumission,Â£50.10,One,http://books.toscrape.com/media/cache/3e/ef/3e...
3,Sharp Objects,Â£47.82,Four,http://books.toscrape.com/media/cache/32/51/32...
4,Sapiens: A Brief History ...,Â£54.23,Five,http://books.toscrape.com/media/cache/be/a5/be...

In [51]:
# Changing the index to start with one

df.index+=1
df.head()

,Title,Prices,Ratings,URLs
1,A Light in the ...,Â£51.77,Three,http://books.toscrape.com/media/cache/2c/da/2c...
2,Tipping the Velvet,Â£53.74,One,http://books.toscrape.com/media/cache/26/0c/26...
3,Soumission,Â£50.10,One,http://books.toscrape.com/media/cache/3e/ef/3e...
4,Sharp Objects,Â£47.82,Four,http://books.toscrape.com/media/cache/32/51/32...
5,Sapiens: A Brief History ...,Â£54.23,Five,http://books.toscrape.com/media/cache/be/a5/be...

In [53]:
# Correcting the price

df['Prices'] = df['Prices'].str.replace('Â£', '')
df.head()

,Title,Prices,Ratings,URLs
1,A Light in the ...,51.77,Three,http://books.toscrape.com/media/cache/2c/da/2c...
2,Tipping the Velvet,53.74,One,http://books.toscrape.com/media/cache/26/0c/26...
3,Soumission,50.10,One,http://books.toscrape.com/media/cache/3e/ef/3e...
4,Sharp Objects,47.82,Four,http://books.toscrape.com/media/cache/32/51/32...
5,Sapiens: A Brief History ...,54.23,Five,http://books.toscrape.com/media/cache/be/a5/be...

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 1 to 20
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Title    20 non-null     object
 1   Prices   20 non-null     object
 2   Ratings  20 non-null     object
 3   URLs     20 non-null     object
dtypes: object(4)
memory usage: 772.0+ bytes

In [58]:
df['Prices'] = df['Prices'].astype(float)

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 1 to 20
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Title    20 non-null     object
 1   Prices   20 non-null     float64
 2   Ratings  20 non-null     object
 3   URLs     20 non-null     object
dtypes: float64(1), object(3)
memory usage: 772.0+ bytes

In [60]:
df['Ratings'] = df['Ratings'].replace({'One': 1,
                                       'Two': 2,
                                       'Three': 3,
                                       'Four': 4,
                                       'Five': 5
                                       })

df['Ratings'].value_counts()

1    6
4    4
5    4
3    3
2    3
Name: Ratings, dtype: int64

In [61]:
df['Ratings'] = df['Ratings'].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 1 to 20
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Title    20 non-null     object
 1   Prices   20 non-null     float64
 2   Ratings  20 non-null     int32
 3   URLs     20 non-null     object
dtypes: float64(1), int32(1), object(2)
memory usage: 692.0+ bytes

In [62]:
df.corr()

           Prices   Ratings
Prices   1.000000 -0.075857
Ratings -0.075857  1.000000